<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BreakpadProduct</key>
	<string>BetterTouchTool</string>
	<key>BreakpadProductDisplay</key>
	<string>BetterTouchTool</string>
	<key>BuildDateString</key>
	<string>Wed Apr  4 14:56:25 CEST 2018</string>
	<key>BuildMachineOSBuild</key>
	<string>17E199</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>bttlicense</string>
				<string>bettertouchtool</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>500</string>
			<key>CFBundleTypeName</key>
			<string>bttlicense</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>BetterTouchTool</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon-2</string>
	<key>CFBundleIconName</key>
	<string>AppIcon-2</string>
	<key>CFBundleIdentifier</key>
	<string>com.hegenberg.BetterTouchTool</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>BetterTouchTool</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.426</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>BTT Feedback URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>bttfeedback</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>BTT Action URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>btt</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string></string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>db-023dchhmiya8zec</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>785</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>9E145</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>17E189</string>
	<key>DTSDKName</key>
	<string>macosx10.13</string>
	<key>DTXcode</key>
	<string>0930</string>
	<key>DTXcodeBuild</key>
	<string>9E145</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>997ae252872a83225f4edc5a758a5aa37eedbe53</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
		</array>
	</dict>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.productivity</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.10</string>
	<key>LSUIElement</key>
	<true/>
	<key>MDItemKeywords</key>
	<string>BTT,BetterTouchTool,Better,Touch,Tool,Gestures,Shortcuts,Keyboard</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>BTTApplication</string>
	<key>NSSupportsAutomaticGraphicsSwitching</key>
	<true/>
	<key>SUAllowsAutomaticUpdates</key>
	<true/>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://updates.bettertouchtool.net/appcast.xml</string>
	<key>SUFeedURLAirspace</key>
	<string>https://updates.bettertouchtool.net/airspace.xml</string>
	<key>SUFeedURLAirspaceAlpha</key>
	<string>https://updates.bettertouchtool.net/airspacealpha.xml</string>
	<key>SUFeedURLBeta</key>
	<string>https://updates.bettertouchtool.net/alpha.xml</string>
	<key>SUFeedURLHighSierra</key>
	<string>https://updates.bettertouchtool.net/highsierra.xml</string>
	<key>SUFeedURLHighSierraAlpha</key>
	<string>https://updates.bettertouchtool.net/highsierraalpha.xml</string>
	<key>SUFeedURLLeap</key>
	<string>https://updates.bettertouchtool.net/leap.xml</string>
	<key>SUFeedURLLion</key>
	<string>https://updates.bettertouchtool.net/lion.xml</string>
	<key>SUFeedURLMLAlpha</key>
	<string>https://updates.bettertouchtool.net/mlalpha.xml</string>
	<key>SUFeedURLMavericks</key>
	<string>https://updates.bettertouchtool.net/mavericks.xml</string>
	<key>SUFeedURLMavericksAlpha</key>
	<string>https://updates.bettertouchtool.net/mavericksalpha.xml</string>
	<key>SUFeedURLMountainLion</key>
	<string>https://updates.bettertouchtool.net/mountainlion.xml</string>
	<key>SUFeedURLSLAlpha</key>
	<string>https://updates.bettertouchtool.net/slalpha.xml</string>
	<key>SUFeedURLSierra</key>
	<string>https://updates.bettertouchtool.net/sierra.xml</string>
	<key>SUFeedURLSierraAlpha</key>
	<string>https://updates.bettertouchtool.net/sierraalpha.xml</string>
	<key>SUFeedURLTouchBar</key>
	<string>https://updates.bettertouchtool.net/touchbar.xml</string>
	<key>SUFeedURLTouchBarBeta</key>
	<string>https://updates.bettertouchtool.net/touchbar_beta.xml</string>
	<key>SUFeedURLYosemite</key>
	<string>https://updates.bettertouchtool.net/yose.xml</string>
	<key>SUFeedURLYosemiteAlpha</key>
	<string>https://updates.bettertouchtool.net/yosealpha.xml</string>
	<key>SUPublicDSAKeyFile</key>
	<string>dsa_pub.pem</string>
	<key>SUScheduledCheckInterval</key>
	<string>80000</string>
	<key>SUShowReleaseNotes</key>
	<true/>
	<key>b</key>
	<data>
	AAAAAgABQDUAAAADAAFANgAAAAAAAUA3AAAAHQACwDhEBUAARBEAAAACwDkAAAAAAAAA
	AAABADolvxjIAAAEBAABQDsAAAEAAAFAMwAAAAAAAUA0AAAAAAABQGoAAAAAAAFAawAA
	AAABoBBt4BK9JQQEAAAAAAAAAAAAAAMAAwAFAAAAYAAAAAsAAAAAAAAAAAAAAAMAAwBW
	fwAAqIAAAAAAAAACAA8AIwAAAAEAAAAEAQAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAYAAAAAsAAAAAAAAAAAAAAAEAAwDiZwAAhY8A
	AAAAAAAFAAAAIgAAAAMAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAWgACAAAAAJgAAAAJ
	AQAAAAAAZqYJAGamCAAAAAAAYAAAAAsAAAAAAAAAAAAAAAEAAwDLlgAAynEAAAAAAAAL
	AAAAIgAAAAIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAWgACAAAAAFQAAAB9AAAAAAAA
	KBwKAHD9CAAAAAAAIAAAAAYAAAAAAAAAAAAAAAAAAAAAAAAAAAD//wAAAABIAAAAAQAA
	AAAAAAAAAAAAAAAAAAD/dxcBAAAAKAAAAAAAYAQAAAADAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAUBuAAAAPQABQG8AAAAAAAFAcAAAAAAAAUB1AAAABg==
	</data>
	<key>d</key>
	<data>
	AAAAAgABQDUAAAADAAFANgAAAAAAAUA3AAAAHQACwDhESYAAQ4QAAAACwDkAAAAAAAAA
	AAABADoRuHXwAAAOvAABQDsAAAEAAAFAMwAAAAAAAUA0AAAAAAABQGoAAAAAAAFAawAA
	AAAB+BBtHiO2EbwOAAAAAAAAAAAAAAMAAwAGAAAAYAAAAAsAAAAAAAAAAAAAAAMAAwDI
	hAAAxDEAAAAAAAADAAgAIwAAAAEAAAAEAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAYAAAAAsAAAAAAAAAAAAAAAEAAwBETwAASCkA
	AAAAAAAEAAAAIgAAAAQAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAWgACAAAAAMsAAAAm
	AQAAAAAAetQJAKPwCAAAAAAAYAAAAAsAAAAAAAAAAAAAAAEAAwBRuQAA7U4AAAAAAAAG
	AAAAIgAAAAIAAAAEAAAAAAAAAAAAAAAAAAAAAAAAADAJTgACAAAAAG0BAAA3AQAAAAAA
	PQoOAGYmCgAAAAAAYAAAAAsAAAAAAAAAAAAAAAEAAwDDhQAAFh0AAAAAAAAKAAAAIgAA
	AAMAAAAEAAAAAAAAAAAAAAAAAAAAAAAAABiPSQACAAAAAOgAAAAEAQAAAAAAZiYLAHqU
	CQAAAAAAGAAAABAAAAAAAAAAAAAAAAAAAAACAAAASAAAAAEAAAAAAAAAAAAAAAAAAAAA
	/3cXAQAAACgAAAAAAGAEAAAAAwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAFAbgAAABAAAUBvAAAAAAABQHAAAAAAAAFAcwAAAAI=
	</data>
	<key>dli</key>
	<data>
	AAAAAgABQDUAAAADAAFANgAAAAAAAUA3AAAAHQACwDhERfpARD7EgAACwDkAAAAAAAAA
	AAABADpMR4yoAAADZgABQDsAAAEAAAFAMwAAAAAAAUA0AAAAAAABQGoAAAAAAAFAawAA
	AAACkBBtHHxFTGYDAAAAAAAAAAAAAAMAAwAJAAAAYAAAAAsAAAAAAAAAAAAAAAMAAwAA
	AAAAsJ4AAB02AAAAAAAADgBAACMAAAABAAAABAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAYAAAAAsAAAAAAAAAAAAAAAEAAwABAAAAcWsA
	ADBcAAAAAAAABAAAACIAAAACAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAFoAAgAAAADy
	AAAAFgEAAAAAAFwPCwAeBQoAKAAAAAkAAAAAAAAAAAAAAAAAAAACAAAAAOD6/wBAZwAA
	AAAAAAAAAGAAAAALAAAAAAAAAAAAAAABAAMAAQAAAA6cAADsKQAAAAAAAAcAAAAiAAAA
	AwAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAABaAAIAAAAA3QAAACEBAAAAAABR+AkAXE8J
	ACgAAAAJAAAAAAAAAAAAAAAAAAAAAgAAAAAAAAAAYPQAAAAAAAAAAABgAAAACwAAAAAA
	AAAAAAAAAQADAAEAAACR1AAAOxwAAAAAAAAJAAAAIgAAAAQAAAAEAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAWgACAAAAALcAAAD4AAAAAAAAhSsKAHA9CQAoAAAACQAAAAAAAAAAAAAA
	AAAAAAIAAAAAgPj/AGCvAAAAAAAAAAAAMAAAABAAAAAAAAAAAAAAAAAAACABAAAAAgAA
	AAIAAADd9P//AAAAAIkGAAAAAAAAUAAAAAEAAAAAAAAAAAAAAAAAAAABAAAAAP93FwEA
	AAAoAAAAAAAS+gAAAAMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AUBuAAAAEAABQG8AAAAAAAFAcAAAAAAAAUCEAAAAAgABQIUAAAAEAAFAcwAAAAIAAUB7
	AAAAAgABQIYAAAACAAHAfL0yMAAAAcB9AAAAAAABwH480SAAAAHAgQAAAAAAAcCCAAAA
	AAABwIMAAAAAAAFAiAAAAAA=
	</data>
	<key>e</key>
	<data>
	AAAAAgABQDUAAAADAAFANgAAAAAAAUA3AAAAHQACwDhDh4AAQ8uAAAACwDkAAAAAAAAA
	AAABADrPU/4QAAAEJAABQDsAAAEAAAFAMwAAAAAAAUA0AAAAAAABQGoAAAAAAAFAawAA
	AAABgBBt+PZRzyQEAAAAAAAAAAAAAAMAAwAEAAAAYAAAAAsAAAAAAAAAAAAAAAMAAwDm
	UQAADIIAAAAAAAACAAAgIwAAAAEAAAAIAAAABgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAYAAAAAsAAAAAAAAAAAAAAAEAAwDmUQAADIIA
	AAAAAAAKAAAAIgAAAAMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAPiXbwACAAAAAE4BAAAe
	AQAAAAAArscNAI/CCQAAAAAAYAAAAAsAAAAAAAAAAAAAAAEAAQBGaQAAF0IAAAAAAAAL
	AAAAIgAAAAIAAAAGAAAAAAAAAAAAAAAAAAAAAAAAABeaegACAAAAABgAAAAnAAAAAAAA
	wjUKAGZmBwAAAAAASAAAAAEAAAAAAAAAAAAAAAAAAAAA/3cXAQAAACgAAAAAAGAEAAAA
	AwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFAbgAAAD4AAUBvAAAAAAAB
	QHAAAAAAAAFAdQAAAAA=
	</data>
	<key>eli</key>
	<data>
	AAAAAgABQDUAAAADAAFANgAAAAAAAUA3AAAAHQACwDhEC44ARDHygAACwDkAAAAAAAAA
	AAABADrqcCkwAAACjwABQDsAAAEAAAFAMwAAAAAAAUA0AAAAAAABQGoAAAAAAAFAawAA
	AAAA0BBt2g5v6o8CAAAAAAAAAAAAAAMAAQADAAAAYAAAAAsAAAAAAAAAAAAAAAMAAQAA
	AAAAzFwAANY1AAAAAAAAAQAAICMAAAABAAAACgAAAAIAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAMAAAAAEAAAAAAAAAAAAAAAAAAAABAAAAAP8B
	AAEAAAAIAAAAAQEBAAAAAAAAAAAAKAAAAAYAAAAAAAAAAAAAAAAAAEABAAAAAAAAAAAA
	AAAAAAAAAAAAAAABQG4AAAA+AAFAbwAAAAAAAUBwAAAAAAABQIQAAAAAAAFAhQAAAAAA
	AUB1AAAABg==
	</data>
	<key>ellookup1</key>
	<data>
	AAAAAgABQDUAAAAAAAFANgAAAAAAAUA3AAAAHQACwDhEHtsAQ80CAAACwDkAAAAAAAAA
	AAABADqqMI1LAAAsgwABQDsAAAEAAAFAMwAAAAAAAUA0AAAAAAABQJIAAAAAAAFAagAA
	AAAAAUBrAAAAAAAwEG2iNy+qgywAAKg4AAABAAAAAQAABQAAAAABAAAAFAAAABgAAAAB
	AAAFAAAAAAEAAAAAAUBuAAAAGAABQG8AAAAAAAFAcAAAAAAAAUCEAAAABQABQIUAAAAA
	AAFApAAAAEYAAUClAAAAAQ==
	</data>
	<key>ellookup2</key>
	<data>
	AAAAAgABQDUAAAAAAAFANgAAAAAAAUA3AAAAHQACwDhEHtsAQ80CAAACwDkAAAAAAAAA
	AAABADqqMI1LAAAsgwABQDsAAAEAAAFAMwAAAAAAAUA0AAAAAAABQJIAAAAAAAFAagAA
	AAAAAUBrAAAAAAAwEG2iNy+qgywAAKg4AAABAAAAAQAABQAAAAACAAAAFAAAABgAAAAB
	AAAFAAAAAAEAAAAAAUBuAAAAGAABQG8AAAAAAAFAcAAAAAAAAUCEAAAABQABQIUAAAAA
	AAFApAAAAEYAAUClAAAAAQ==
	</data>
	<key>elsmartzoom</key>
	<data>
	AAAAAgABQDUAAAAAAAFANgAAAAAAAUA3AAAAHQACwDhEZy2ARCu9QAACwDkAAAAAAAAA
	AAABADpGGbQBAAAsZAABQDsAAAEAAAFAMwAAAAAAAUA0AAAAAAABQJIAAAAAAAFAagAA
	AAAAAUBrAAAAAAAsEG1RzxdGZCwAAKg4AAABAAAAAAAAAAAAAAABAAAAEAAAABYAAAAA
	AAAAAAAAAAABQG4AAAAWAAFAbwAAAAAAAUBwAAAAAAABQIQAAAAAAAFAhQAAAAA=
	</data>
	<key>elsmartzoom2</key>
	<data>
	AAAAAgABQDUAAAAAAAFANgAAAAAAAUA3AAAAHQACwDhEYAZAQ6EygAACwDkAAAAAAAAA
	AAABADoJS0O8AAAsfgABQDsAAAEAAAFAMwAAAAAAAUA0AAAAAAABQJIAAAAAAAFAagAA
	AAAAAUBrAAAAAAA4EG0dRkIJfiwAAKg4AAABAAAAAAAABAAAAAABAAAAHAAAAAYAAAAA
	AAAEAAAAAAAAAAAAAAAAAAAAAAABQG4AAAAGAAFAbwAAAAAAAUBwAAAAAAABQIQAAAAE
	AAFAhQAAAAAAAcB2gAAAAAABwHeAAAAAAAHAeAAAAAAAAUCHAAAAAQ==
	</data>
	<key>elswidown</key>
	<data>
	AAAAAgABQDUAAAAAAAFANgAAAAAAAUA3AAAAHQACwDhEQq/ARDfCAAACwDkAAAAAAAAA
	AAABADpCwP3AAAArYwABQDsAAAEAAAFAMwAAAAAAAUA0AAAAAAABQJIAAAAAAAFAagAA
	AAAAAUBrAAAAAABEEG1mYb5CYysAAKg4AAABAAAAAAAAAgAAAAABAAAAKAAAABAAAAAA
	AAACAAAAAH4AAABOAwAAAAAAAAIAAAACAAUAvvT//wABQG4AAAAQAAFAbwAAAAAAAUBw
	AAAAAAABQIQAAAACAAFAhQAAAAAAAUBzAAAAAgABQHsAAAACAAFAhgAAAAIAAcB8PTQg
	AAABwH26/AAAAAHAfrxTgAAAAcCBgAAAAAABwIKAAAAAAAHAgwAAAAAAAUCIAAAAAQAB
	QIoAAAAF
	</data>
	<key>elswileft</key>
	<data>
	AAAAAgABQDUAAAAAAAFANgAAAAAAAUA3AAAAHQACwDhEQq/ARDfCAAACwDkAAAAAAAAA
	AAABADridFksAAArYgABQDsAAAEAAAFAMwAAAAAAAUA0AAAAAAABQJIAAAAAAAFAagAA
	AAAAAUBrAAAAAABEEG2wsXHiYisAAKg4AAABAAAAAAAAAgAAAAABAAAAKAAAABAAAAAA
	AAACAAAAAPH7//8nAAAAAAAAAAQAAAABAAUAePX//wABQG4AAAAQAAFAbwAAAAAAAUBw
	AAAAAAABQIQAAAACAAFAhQAAAAAAAUBzAAAABAABQHsAAAABAAFAhgAAAAIAAcB8PSiA
	AAABwH08geAAAAHAfrocAAAAAcCBgAAAAAABwIKAAAAAAAHAgwAAAAAAAUCIAAAAAQAB
	QIoAAAAF
	</data>
	<key>elswiright</key>
	<data>
	AAAAAgABQDUAAAAAAAFANgAAAAAAAUA3AAAAHQACwDhEQq/ARDfCAAACwDkAAAAAAAAA
	AAABADq4HCoVAAArYgABQDsAAAEAAAFAMwAAAAAAAUA0AAAAAAABQJIAAAAAAAFAagAA
	AAAAAUBrAAAAAABEEG2h2Rm4YisAAKg4AAABAAAAAAAAAgAAAAABAAAAKAAAABAAAAAA
	AAACAAAAANUDAAAQAAAAAAAAAAgAAAABAAUAvAoAAAABQG4AAAAQAAFAbwAAAAAAAUBw
	AAAAAAABQIQAAAACAAFAhQAAAAAAAUBzAAAACAABQHsAAAABAAFAhgAAAAIAAcB8vSvA
	AAABwH28dUAAAAHAfrmAAAAAAcCBgAAAAAABwIKAAAAAAAHAgwAAAAAAAUCIAAAAAQAB
	QIoAAAAF
	</data>
	<key>elswiup</key>
	<data>
	AAAAAgABQDUAAAAAAAFANgAAAAAAAUA3AAAAHQACwDhEQq/ARDfCAAACwDkAAAAAAAAA
	AAABADoY2ciFAAArYwABQDsAAAEAAAFAMwAAAAAAAUA0AAAAAAABQJIAAAAAAAFAagAA
	AAAAAUBrAAAAAABEEG2EK9cYYysAAKg4AAABAAAAAAAAAgAAAAABAAAAKAAAABAAAAAA
	AAACAAAAAJ8AAADv+///AAAAAAEAAAACAAUA3AoAAAABQG4AAAAQAAFAbwAAAAAAAUBw
	AAAAAAABQIQAAAACAAFAhQAAAAAAAUBzAAAAAQABQHsAAAACAAFAhgAAAAIAAcB8vS3A
	AAABwH27HwAAAAHAfjyCIAAAAcCBgAAAAAABwIKAAAAAAAHAgwAAAAAAAUCIAAAAAQAB
	QIoAAAAF
	</data>
	<key>elzoin</key>
	<data>
	AAAAAgABQDUAAAAAAAFANgAAAAAAAUA3AAAAHQACwDhEUBkAQ764AAACwDkAAAAAAAAA
	AAABADqP/CCUAAAsagABQDsAAAEAAAFAMwAAAAAAAUA0AAAAAAABQJIAAAAAAAFAagAA
	AAAAAUBrAAAAAAA4EG39VfqPaiwAAKg4AAABAAAAAAAAAgAAAAABAAAAHAAAAAcAAAAA
	AAACAAAAAAAAAAAAAAAAw/X//wABQG4AAAAIAAFAbwAAAAAAAUBwAAAAAAABQIQAAAAC
	AAFAhQAAAAAAAcBxvSPQAAABwIsAAAAAAAHAjAAAAAA=
	</data>
	<key>elzout</key>
	<data>
	AAAAAgABQDUAAAAAAAFANgAAAAAAAUA3AAAAHQACwDhEUBkAQ764AAACwDkAAAAAAAAA
	AAABADpOdDerAAAsagABQDsAAAEAAAFAMwAAAAAAAUA0AAAAAAABQJIAAAAAAAFAagAA
	AAAAAUBrAAAAAAA4EG0r53JOaiwAAKg4AAABAAAAAAAAAgAAAAABAAAAHAAAAAcAAAAA
	AAACAAAAAAAAAAAAAAAAlQMAAAABQG4AAAAIAAFAbwAAAAAAAUBwAAAAAAABQIQAAAAC
	AAFAhQAAAAAAAcBxPGVAAAABwIsAAAAAAAHAjAAAAAA=
	</data>
	<key>i</key>
	<data>
	AAAAAgABQDUAAAADAAFANgAAAAAAAUA3AAAAHQACwDhDCgAARBqAAAACwDkAAAAAAAAA
	AAABADrIaLdoAAAPOwABQDsAAAEAAAFAMwAAAAAAAUA0AAAAAAABQGoAAAAAAAFAawAA
	AAABoBBtXBBoyDsPAAAAAAAAAAAAAAMAAwAFAAAAYAAAAAsAAAAAAAAAAAAAAAMAAwCG
	kAAAB2YAAAAAAAACAPAAIwAAAAEAAAAEAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAYAAAAAsAAAAAAAAAAAAAAAEAAwCJSQAAYbUA
	AAAAAAAEAAAAIgAAAAEAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAIDNhAACAAAAAEQBAAD5
	AAAAAAAAo3APADPzCQAAAAAAYAAAAAsAAAAAAAAAAAAAAAEAAwCC1wAArBYAAAAAAAAG
	AAAAIgAAAAIAAAAEAAAAAAAAAAAAAAAAAAAAAAAAALC+YwACAAAAAL8AAACSAAAAAAAA
	rscQAOF6CAAAAAAAIAAAAAoAAAAAAAAAAAAAAAAAAAAxCAAAAAAAAAAAAABIAAAAAQAA
	AAAAAAAAAAAAAAAAAAD/dxcBAAAAKAAAAAAAYAQAAAADAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAUBuAAAACAABQG8AAAAAAAFAcAAAAAAAAcBxPQMQAA==
	</data>
	<key>ili</key>
	<data>
	AAAAAgABQDUAAAADAAFANgAAAAAAAUA3AAAAHQACwDhD+QyARBdlwAACwDkAAAAAAAAA
	AAABADotomzQAAAD6gABQDsAAAEAAAFAMwAAAAAAAUA0AAAAAAABQGoAAAAAAAFAawAA
	AAACABBtcmShLeoDAAAAAAAAAAAAAAMAAwAHAAAAYAAAAAsAAAAAAAAAAAAAAAMAAwAA
	AAAA+ZoAAP16AAAAAAAAAgDwACMAAAABAAAABAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAYAAAAAsAAAAAAAAAAAAAAAEAAwABAAAAyHwA
	AESnAAAAAAAABgAAACIAAAABAAAABAAAAAAAAAAAAAAAAAAAAAAAAABoq3MAAgAAAABn
	AQAAJQEAAAAAAAoXDwBHoQoAKAAAAAkAAAAAAAAAAAAAAAAAAAACAAAAAMCqAACgpP8A
	AAAAAAAAAGAAAAALAAAAAAAAAAAAAAABAAMAAQAAACm5AAC2TgAAAAAAAAgAAAAiAAAA
	AwAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAb6x5AAIAAAAATAEAAD4BAAAAAAAUbg0AFK4J
	ACgAAAAJAAAAAAAAAAAAAAAAAAAAAgAAAAAAPf8AwGsAAAAAAAAAAAAoAAAACgAAAAAA
	AAAAAAAAAAAAIAEAAABh5f//AAAAAAAAAAAAAAAAUAAAAAEAAAAAAAAAAAAAAAAAAAAB
	AAAAAP93FwEAAAAoAAAAAAAS+gAAAAMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAUBuAAAACAABQG8AAAAAAAFAcAAAAAAAAUCEAAAAAAABQIUAAAAEAAHA
	cb3U+AA=
	</data>
	<key>l</key>
	<data>
	AAAAAgABQDUAAAADAAFANgAAAAAAAUA3AAAAHQACwDhESYAAQ4QAAAACwDkAAAAAAAAA
	AAABADroti9YAAAOuwABQDsAAAEAAAFAMwAAAAAAAUA0AAAAAAABQGoAAAAAAAFAawAA
	AAAB+BBt/BK06LsOAAAAAAAAAAAAAAMAAwAGAAAAYAAAAAsAAAAAAAAAAAAAAAMAAwAW
	rQAAh2QAAAAAAAADAAIAIwAAAAEAAAAEAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAYAAAAAsAAAAAAAAAAAAAAAEAAwAacgAA/VIA
	AAAAAAADAAAAIgAAAAQAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAWgACAAAAAPQAAAA7
	AQAAAAAAR2EKAMJ1CQAAAAAAYAAAAAsAAAAAAAAAAAAAAAEAAwDk4wAALocAAAAAAAAH
	AAAAIgAAAAIAAAAEAAAAAAAAAAAAAAAAAAAAAAAAABj1PQACAAAAAFsBAABDAQAAAAAA
	wrUMAAqXCQAAAAAAYAAAAAsAAAAAAAAAAAAAAAEAAwBEsQAAa1MAAAAAAAALAAAAIgAA
	AAMAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAGi4VwACAAAAAA8BAABPAQAAAAAAPcoKAFwP
	CQAAAAAAGAAAABAAAAAAAAAAAAAAAAAAAAAEAAAASAAAAAEAAAAAAAAAAAAAAAAAAAAA
	/3cXAQAAACgAAAAAAGAEAAAAAwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAFAbgAAABAAAUBvAAAAAAABQHAAAAAAAAFAcwAAAAQ=
	</data>
	<key>l1</key>
	<data>
	AAAAAgABQDUAAAADAAFANgAAAAAAAUA3AAAAHQACwDjEGsAARA9AAAACwDkAAAAAAAAA
	AAABADo+qFUoAABhZwABQDsAAAEAAAFAMwAAAAAAAUA0AAAAAAABQGoAAAAAAAFAawAA
	AAABqBBtA0mnPmdhAAAAAAAAAAAAAAMAAQAFAAAAYAAAAAsAAAAAAAAAAAAAAAMAAQAA
	AAAA7p0AANxzAAAAAAAAAwAAcCMAAAABAAAAAgAAAAIAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAYAAAAAsAAAAAAAAAAAAAAAEAAQABAAAAELMA
	ALF7AAAAAAAAAgAAACIAAAACAAAAAgAAAAAAAAAAAAAAAAAAAAAAAAAAAFoAAgAAAAAg
	AAAAPQAAAAAAAHC9BgBcDwYAYAAAAAsAAAAAAAAAAAAAAAEAAQABAAAAzIgAAAdsAAAA
	AAAABAAAACIAAAADAAAAAgAAAAAAAAAAAAAAAAAAAAAAAAAAAFoAAgAAAABAAAAAbwAA
	AAAAAOvRBgBHYQYAIAAAABgAAAAAAAAAAAAAAAAAAFABAAAAAQAAAAAAAABQAAAAAQAA
	AAAAAAAAAAAAAAAAAAEAAAAA/3cXAQAAACgAAADo1vVeAAAABAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABQG4AAAAYAAFAbwAAAAAAAUBwAAAAAAABQIQA
	AAAAAAFAhQAAAAI=
	</data>
	<key>l2</key>
	<data>
	AAAAAgABQDUAAAADAAFANgAAAAAAAUA3AAAAHQACwDjEGsAARA9AAAACwDkAAAAAAAAA
	AAABADo+qFUoAABhZwABQDsAAAEAAAFAMwAAAAAAAUA0AAAAAAABQGoAAAAAAAFAawAA
	AAABqBBtA0mnPmdhAAAAAAAAAAAAAAMAAQAFAAAAYAAAAAsAAAAAAAAAAAAAAAMAAQAA
	AAAA7p0AANxzAAAAAAAAAwAAcCMAAAABAAAAAgAAAAIAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAYAAAAAsAAAAAAAAAAAAAAAEAAQABAAAAELMA
	ALF7AAAAAAAAAgAAACIAAAACAAAAAgAAAAAAAAAAAAAAAAAAAAAAAAAAAFoAAgAAAAAg
	AAAAPQAAAAAAAHC9BgBcDwYAYAAAAAsAAAAAAAAAAAAAAAEAAQABAAAAzIgAAAdsAAAA
	AAAABAAAACIAAAADAAAAAgAAAAAAAAAAAAAAAAAAAAAAAAAAAFoAAgAAAABAAAAAbwAA
	AAAAAOvRBgBHYQYAIAAAABgAAAAAAAAAAAAAAAAAAFABAAAAAQAAAAAAAABQAAAAAQAA
	AAAAAAAAAAAAAAAAAAEAAAAA/3cXAQAAACgAAADo1vVeAAAABAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABQG4AAAAYAAFAbwAAAAAAAUBwAAAAAAABQIQA
	AAAAAAFAhQAAAAI=
	</data>
	<key>lli</key>
	<data>
	AAAAAgABQDUAAAADAAFANgAAAAAAAUA3AAAAHQACwDhERfpARD7EgAACwDkAAAAAAAAA
	AAABADrYv2SQAAADZQABQDsAAAEAAAFAMwAAAAAAAUA0AAAAAAABQGoAAAAAAAFAawAA
	AAACkBBtrpK92GUDAAAAAAAAAAAAAAMAAwAJAAAAYAAAAAsAAAAAAAAAAAAAAAMAAwAA
	AAAA3qIAAKeVAAAAAAAADgBAACMAAAABAAAABAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAYAAAAAsAAAAAAAAAAAAAAAEAAwABAAAArNkA
	AAKXAAAAAAAABgAAACIAAAAEAAAABAAAAAAAAAAAAAAAAAAAAAAAAAC4sB4AAgAAAACS
	AAAADwEAAAAAAI8CCQAK1wcAKAAAAAkAAAAAAAAAAAAAAAAAAAACAAAAAEBb/wBgyv8A
	AAAAAAAAAGAAAAALAAAAAAAAAAAAAAABAAMAAQAAAGeiAACqjgAAAAAAAAoAAAAiAAAA
	AwAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAABaAAIAAAAApAAAAEEBAAAAAAD1qAkAFC4I
	ACgAAAAJAAAAAAAAAAAAAAAAAAAAAgAAAADgV/8AQA0AAAAAAAAAAABgAAAACwAAAAAA
	AAAAAAAAAQADAAEAAACHbAAASZsAAAAAAAALAAAAIgAAAAIAAAAEAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAWgACAAAAAKAAAAAWAQAAAAAACtcIAK5HCAAoAAAACQAAAAAAAAAAAAAA
	AAAAAAIAAAAAQDX/AABaAAAAAAAAAAAAMAAAABAAAAAAAAAAAAAAAAAAACABAAAABAAA
	AAEAAAAI9f//zPn//8sAAAAAAAAAUAAAAAEAAAAAAAAAAAAAAAAAAAABAAAAAP93FwEA
	AAAoAAAAAAAS+gAAAAMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AUBuAAAAEAABQG8AAAAAAAFAcAAAAAAAAUCEAAAAAgABQIUAAAAEAAFAcwAAAAQAAUB7
	AAAAAQABQIYAAAACAAHAfL0vgAAAAcB9vMaAAAABwH47SwAAAAHAgQAAAAAAAcCCAAAA
	AAABwIMAAAAAAAFAiAAAAAA=
	</data>
	<key>mavericksbegindata</key>
	<data>
	AAAAAgABQDUAAAAAAAFANgAAAAAAAUA3AAAAHQACwDhD8sAAQ6k/AAACwDkAAAAAAAAA
	AAABADqqFSwFAAFwEwABQDsAAAEAAAFAMwAAAAAAAUA0AAAAAAABQGoAAAAAAAFAawAA
	AAACOBBtWO0RqhNwAQCs9BGqE3ABAF68AQABAAAAAwADAAAAAAAJAAAAWAAAAAsAAAAD
	AAMAAAAAAC1RAACxfwAAAAAAAAIADwADAAAAAQAAAAQBAAAEAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFgAAAALAAAAAQADAAEAAACPZQAAMqYA
	AAAAAAABAAAAAgAAAAIAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAWgACAAAAAMkAAACC
	AQAAAAAAjwIJAOG6BwAcAAAACQAAAAAAAAACAAAAAAD4/wDgIAAAAAAAWAAAAAsAAAAB
	AAMAAQAAAJ4AAADtTgAAAAAAAAIAAAACAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	sKhbAAIAAAAAVgAAAIsAAAAAAADCNQwA9egFABwAAAAJAAAAAAAAAAIAAAAAQP//AID8
	/wAAAABYAAAACwAAAAEAAwABAAAAWY0AAPaJAAAAAAAAAwAAAAIAAAADAAAABAAAAAAA
	AAAAAAAAAAAAAAAAAACQREkAAgAAAACtAAAAKwEAAAAAAB6FCQCPQggAHAAAAAkAAAAA
	AAAAAgAAAAAg9/8AwB0AAAAAABwAAAAGAAAAAAAAAQEAAAAAAAAAAAD//wAAAABEAAAA
	AQAAAAAAAAABAAAAAP93FwEAAAAoAAAAAADAFAAAAAMAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAABQG4AAAA9AAFAbwAAAAAAAUBwAAAAAAABQIQAAAAAAAFAhQAA
	AAAAAUB1AAAABg==
	</data>
	<key>mavericksend</key>
	<data>
	AAAAAgABQDUAAAAAAAFANgAAAAAAAUA3AAAAHQACwDhEUMgARBrNwAACwDkAAAAAAAAA
	AAABADqnozMUAAACSgABQDsAAAEAAAFAMwAAAAAAAUA0AAAAAAABQGoAAAAAAAFAawAA
	AAABqBBtbRmgp0oCAACEJaCnSgIAAFwCAAABAAAAAwADAAAAAAAGAAAAWAAAAAsAAAAD
	AAMAAAAAALhNAADbbQAAAAAAAAIAACADAAAAAQAAAAwAAAAGAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFgAAAALAAAAAQABAAEAAADCeAAASjEA
	AAAAAAAGAAAAAgAAAAIAAAACAAAAAAAAAAAAAAAAAAAAAAAAAAAAWgACAAAAAB8AAAAj
	AAAAAAAAAIAJACicCABYAAAACwAAAAEAAwABAAAAuE0AANttAAAAAAAACgAAAAIAAAAD
	AAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAFoAAgAAAADFAAAAEQEAAAAAAEfhCQCuhwgA
	HAAAAAkAAAAAAAAAAgAAAADAAAAAYAEAAAAAABwAAAAGAAAAAAAABAEAAAAAAAAAAAAA
	AAAAAABEAAAAAQAAAAAAAAABAAAAAP93FwEAAAAoAAAAAAAS+gAAAAMAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABQG4AAAA+AAFAbwAAAAAAAUBwAAAAAAABQIQA
	AAAAAAFAhQAAAAAAAUB1AAAABg==
	</data>
	<key>o</key>
	<data>
	AAAAAgABQDUAAAADAAFANgAAAAAAAUA3AAAAHQACwDhB6AAARENAAAACwDkAAAAAAAAA
	AAABADqAb5oAAAAPTQABQDsAAAEAAAFAMwAAAAAAAUA0AAAAAAABQGoAAAAAAAFAawAA
	AAABoBBtHqRugE0PAAAAAAAAAAAAAAMAAwAFAAAAYAAAAAsAAAAAAAAAAAAAAAMAAwAc
	ZwAA640AAAAAAAACAPAAIwAAAAEAAAAEAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAYAAAAAsAAAAAAAAAAAAAAAEAAwA5eQAAXXEA
	AAAAAAADAAAAIgAAAAIAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAI/tcgACAAAAAKEBAABl
	AQAAAAAAFK4NAABACQAAAAAAYAAAAAsAAAAAAAAAAAAAAAEAAwD+VAAAeaoAAAAAAAAI
	AAAAIgAAAAEAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAOh7bgACAAAAAJEBAABgAQAAAAAA
	mVkOACgcCQAAAAAAIAAAAAoAAAAAAAAAAAAAAAAAAADu/P//AAAAAAAAAABIAAAAAQAA
	AAAAAAAAAAAAAAAAAAD/dxcBAAAAKAAAAAAAYAQAAAADAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAUBuAAAACAABQG8AAAAAAAFAcAAAAAAAAcBxvESAAA==
	</data>
	<key>oli</key>
	<data>
	AAAAAgABQDUAAAADAAFANgAAAAAAAUA3AAAAHQACwDhD+QyARBdlwAACwDkAAAAAAAAA
	AAABADqiOO/YAAAD6gABQDsAAAEAAAFAMwAAAAAAAUA0AAAAAAABQGoAAAAAAAFAawAA
	AAACABBtJ8g3ouoDAAAAAAAAAAAAAAMAAwAHAAAAYAAAAAsAAAAAAAAAAAAAAAMAAwAA
	AAAA0oIAAKaDAAAAAAAAAgDwACMAAAABAAAABAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAYAAAAAsAAAAAAAAAAAAAAAEAAwABAAAAmrUA
	AIk5AAAAAAAAAgAAACIAAAADAAAABAAAAAAAAAAAAAAAAAAAAAAAAAB4tGkAAgAAAABr
	AQAAAAEAAAAAADPzDwBw/QoAKAAAAAkAAAAAAAAAAAAAAAAAAAACAAAAAEAgAQAAav8A
	AAAAAAAAAGAAAAALAAAAAAAAAAAAAAABAAMAAQAAAApQAADEzQAAAAAAAAsAAAAiAAAA
	AQAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAgGqNAAIAAAAAsQEAAFABAAAAAABH4Q0AR6EK
	ACgAAAAJAAAAAAAAAAAAAAAAAAAAAgAAAACgvf8A4GsAAAAAAAAAAAAoAAAACgAAAAAA
	AAAAAAAAAAAAIAEAAAA1HgAAAAAAAAAAAAAAAAAAUAAAAAEAAAAAAAAAAAAAAAAAAAAB
	AAAAAP93FwEAAAAoAAAAAAAS+gAAAAMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAUBuAAAACAABQG8AAAAAAAFAcAAAAAAAAUCEAAAAAAABQIUAAAAEAAHA
	cT3xqAA=
	</data>
	<key>ql1</key>
	<data>
	AAAAAgABQDUAAAADAAFANgAAAAAAAUA3AAAAHQACwDhEpgGgRCikwAACwDkAAAAAAAAA
	AAABADpAObTwAAALngABQDsAAAEAAAFAMwAAAAAAAUA0AAAAAAABQGoAAAAAAAFAawAA
	AAACCBBth/A4QJ4LAAADAAAABQAAAGgAAAALAAAAAAAAAAAAAAADAAAAAAAAAAAAAAAA
	AAAAbIEAAOp2AAAAAAAAAABAACMAAAABAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAaAAAAAsAAAAAAAAAAAAAAAEAAQABAAAAAAAA
	AAAAAABwqgAA72QAAAAAAAABAAAAIgAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAADA
	IQACAAAAAOAAAABjAQAAAAAAwvUGADOzBgBoAAAACwAAAAAAAAAAAAAAAQABAAEAAAAA
	AAAAAAAAAEyCAADWbgAAAAAAAAQAAAAiAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAIAAAAA4AAAAG8BAAAAAACZ2QYA16MGAGgAAAALAAAAAAAAAAAAAAABAAEAAQAA
	AAAAAAAAAAAAiFcAAPmQAAAAAAAACgAAACIAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAA
	AAAAoAUAAgAAAAAAAQAAjgEAAAAAAOH6BgCuxwYAWAAAAAEAAAAAAAAAAAAAAAAAAAAB
	AAAAAAAAAAAAAAAA/3cXAQAAACgAAADo1vVeAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAABQG4AAAAAAAFAbwAAAAAAAUBwAAAAAAABQIQAAAAAAAFA
	hQAAAAA=
	</data>
	<key>ql2</key>
	<data>
	AAAAAgABQDUAAAADAAFANgAAAAAAAUA3AAAAHQACwDhEpgGgRCikwAACwDkAAAAAAAAA
	AAABADpA5UbQAAALngABQDsAAAEAAAFAMwAAAAAAAUA0AAAAAAABQGoAAAAAAAFAawAA
	AAACmBBtTQ3kQJ4LAAADAAMACAAAAGgAAAALAAAAAAAAAAAAAAADAAMAAAAAAAAAAAAA
	AAAAVoEAABx3AAAAAAAADgBAACMAAAABAAAAIwAAACIAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAaAAAAAsAAAAAAAAAAAAAAAEAAwABAAAAAAAA
	AAAAAACwqgAAYGUAAAAAAAABAAAAIgAAAAQAAAAiAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	WgACAAAAAOAAAAByAQAAAAAAuN4GAHqUBgAwAAAACQAAAAAAAAAAAAAAAAAAAAIAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAABoAAAACwAAAAAAAAAAAAAAAQADAAEAAAAAAAAA
	AAAAAOyBAAD7bgAAAAAAAAQAAAAiAAAAAwAAACIAAAAAAAAAAAAAAAAAAAAAAAAAAABa
	AAIAAAAAwAAAAFABAAAAAABmpgYAHoUGADAAAAAJAAAAAAAAAAAAAAAAAAAAAgAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAGgAAAALAAAAAAAAAAAAAAABAAMAAQAAAAAAAAAA
	AAAAaFcAAPmQAAAAAAAACgAAACIAAAACAAAAIgAAAAAAAAAAAAAAAAAAAAAAAAAAAFoA
	AgAAAAAAAQAAlAEAAAAAAKPwBgBwvQYAMAAAAAkAAAAAAAAAAAAAAAAAAAACAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAWAAAAAEAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAA
	AAAA/3cXAQAAACgAAADo1vVeAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAABQG4AAAAAAAFAbwAAAAAAAUBwAAAAAAABQIQAAAAAAAFAhQAAACM=
	</data>
	<key>ql3</key>
	<data>
	AAAAAgABQDUAAAADAAFANgAAAAAAAUA3AAAAHQACwDhEpgGgRCikwAACwDkAAAAAAAAA
	AAABADpGQeVwAAALngABQDsAAAEAAAFAMwAAAAAAAUA0AAAAAAABQGoAAAAAAAFAawAA
	AAACMBBtbRlBRp4LAAADAAEABgAAAGgAAAALAAAAAAAAAAAAAAADAAEAAAAAAAAAAAAA
	AAAA6FYAAIeQAAAAAAAAAwAAMCMAAAABAAAAIgAAAAMAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAaAAAAAsAAAAAAAAAAAAAAAEAAAABAAAAAAAA
	AAAAAACQqgAAo2QAAAAAAAABAAAAIgAAAAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	WgACAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABoAAAACwAAAAAAAAAAAAAAAQAAAAEAAAAA
	AAAAAAAAACyBAADebwAAAAAAAAQAAAAiAAAAAAAAAAMAAAAAAAAAAAAAAAAAAAAAAAAA
	AABaAAIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAGgAAAALAAAAAAAAAAAAAAABAAEAAQAA
	AAAAAAAAAAAA6FYAAIeQAAAAAAAACgAAACIAAAACAAAAAgAAAAAAAAAAAAAAAAAAAAAA
	AAAAAFoAAgAAAABAAAAAdAAAAAAAABSuBgAKVwYAKAAAABgAAAAAAAAAAAAAAAAAAAUB
	AAAAAAAAAAAAAAABAAAAAAAAAFgAAAABAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAA
	AP93FwEAAAAoAAAA6Nb1XgAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAUBuAAAAGAABQG8AAAAAAAFAcAAAAAAAAUCEAAAAAAABQIUAAAAi
	</data>
	<key>ql4</key>
	<data>
	AAAAAgABQDUAAAADAAFANgAAAAAAAUA3AAAAHQACwDhEpgGgRCikwAACwDkAAAAAAAAA
	AAABADpGQeVwAAALngABQDsAAAEAAAFAMwAAAAAAAUA0AAAAAAABQGoAAAAAAAFAawAA
	AAACMBBtbRlBRp4LAAADAAEABgAAAGgAAAALAAAAAAAAAAAAAAADAAEAAAAAAAAAAAAA
	AAAA6FYAAIeQAAAAAAAAAwAAMCMAAAABAAAAIgAAAAMAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAaAAAAAsAAAAAAAAAAAAAAAEAAAABAAAAAAAA
	AAAAAACQqgAAo2QAAAAAAAABAAAAIgAAAAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	WgACAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABoAAAACwAAAAAAAAAAAAAAAQAAAAEAAAAA
	AAAAAAAAACyBAADebwAAAAAAAAQAAAAiAAAAAAAAAAMAAAAAAAAAAAAAAAAAAAAAAAAA
	AABaAAIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAGgAAAALAAAAAAAAAAAAAAABAAEAAQAA
	AAAAAAAAAAAA6FYAAIeQAAAAAAAACgAAACIAAAACAAAAAgAAAAAAAAAAAAAAAAAAAAAA
	AAAAAFoAAgAAAABAAAAAdAAAAAAAABSuBgAKVwYAKAAAABgAAAAAAAAAAAAAAAAAAAUB
	AAAAAAAAAAAAAAABAAAAAAAAAFgAAAABAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAA
	AP93FwEAAAAoAAAA6Nb1XgAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAUBuAAAAGAABQG8AAAAAAAFAcAAAAAAAAUCEAAAAAAABQIUAAAAi
	</data>
	<key>ql5</key>
	<data>
	AAAAAgABQDUAAAADAAFANgAAAAAAAUA3AAAAHQACwDhEpgGgRCikwAACwDkAAAAAAAAA
	AAABADpG7Xs4AAALngABQDsAAAEAAAFAMwAAAAAAAUA0AAAAAAABQGoAAAAAAAFAawAA
	AAABOBBtiOjsRp4LAAADAAAAAwAAAGgAAAALAAAAAAAAAAAAAAADAAAAAAAAAAAAAAAA
	AAAA6FYAAIeQAAAAAAAAAABAACMAAAABAAAAIQAAAAEAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAaAAAAAsAAAAAAAAAAAAAAAEAAAABAAAAAAAA
	AAAAAADoVgAAh5AAAAAAAAAKAAAAIgAAAAIAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	WgACAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABYAAAAAQAAAAAAAAAAAAAAAAAAAAEAAAAA
	AAAAAAAAAAD/dxcBAAAAKAAAAOjW9V4AAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAFAbgAAAAAAAUBvAAAAAAABQHAAAAAAAAFAhAAAAAAAAUCFAAAA
	IQ==
	</data>
	<key>r</key>
	<data>
	AAAAAgABQDUAAAADAAFANgAAAAAAAUA3AAAAHQACwDhESYAAQ4QAAAACwDkAAAAAAAAA
	AAABADq/OhkoAAAOuwABQDsAAAEAAAFAMwAAAAAAAUA0AAAAAAABQGoAAAAAAAFAawAA
	AAAB+BBti7A4v7sOAAAAAAAAAAAAAAMAAwAGAAAAYAAAAAsAAAAAAAAAAAAAAAMAAwBs
	bAAArl8AAAAAAAADAAEAIwAAAAEAAAAEAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAYAAAAAsAAAAAAAAAAAAAAAEAAwB2PQAACGMA
	AAAAAAABAAAAIgAAAAQAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAKjxRwACAAAAABUBAABF
	AQAAAAAAetQKAB7FCAAAAAAAYAAAAAsAAAAAAAAAAAAAAAEAAwAgmwAA8moAAAAAAAAC
	AAAAIgAAAAIAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAHDmXQACAAAAAGQBAAAuAQAAAAAA
	FK4OAI+CCQAAAAAAYAAAAAsAAAAAAAAAAAAAAAEAAwCubAAAEFEAAAAAAAAHAAAAIgAA
	AAMAAAAEAAAAAAAAAAAAAAAAAAAAAAAAABiDVQACAAAAADUBAABPAQAAAAAAo/ALAMI1
	CAAAAAAAGAAAABAAAAAAAAAAAAAAAAAAAAAIAAAASAAAAAEAAAAAAAAAAAAAAAAAAAAA
	/3cXAQAAACgAAAAAAGAEAAAAAwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAFAbgAAABAAAUBvAAAAAAABQHAAAAAAAAFAcwAAAAg=
	</data>
	<key>rl</key>
	<data>
	AAAAAgABQDUAAAADAAFANgAAAAAAAUA3AAAAHQACwDhDHgAAQ4+AAAACwDkAAAAAAAAA
	AAABADrNGB2gAAAO+AABQDsAAAEAAAFAMwAAAAAAAUA0AAAAAAABQGoAAAAAAAFAawAA
	AAABoBBtDUcXzfgOAAAAAAAAAAAAAAMAAwAFAAAAYAAAAAsAAAAAAAAAAAAAAAMAAwBN
	kgAABEQAAAAAAAACAPAAIwAAAAEAAAAEAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAYAAAAAsAAAAAAAAAAAAAAAEAAwA7bgAAIVUA
	AAAAAAADAAAAIgAAAAEAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAWgACAAAAAJYAAAAJ
	AQAAAAAAHkUJAOuRCAAAAAAAYAAAAAsAAAAAAAAAAAAAAAEAAwBgtgAA6DIAAAAAAAAL
	AAAAIgAAAAIAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAMjNDwACAAAAAEgAAACRAAAAAAAA
	PUoJAMJ1BwAAAAAAIAAAAAoAAAAAAAAAAAAAAAAAAAAAAAAAP/n//wAAAABIAAAAAQAA
	AAAAAAAAAAAAAAAAAAD/dxcBAAAAKAAAAAAAYAQAAAADAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAUBuAAAABQABQG8AAAAAAAFAcAAAAAAAAcByv8F8Mw==
	</data>
	<key>rli</key>
	<data>
	AAAAAgABQDUAAAADAAFANgAAAAAAAUA3AAAAHQACwDhERfpARD7EgAACwDkAAAAAAAAA
	AAABADoODFIgAAADZgABQDsAAAEAAAFAMwAAAAAAAUA0AAAAAAABQGoAAAAAAAFAawAA
	AAACkBBtxUgKDmYDAAAAAAAAAAAAAAMAAwAJAAAAYAAAAAsAAAAAAAAAAAAAAAMAAwAA
	AAAA83YAACVzAAAAAAAADgBAACMAAAABAAAABAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAYAAAAAsAAAAAAAAAAAAAAAEAAwABAAAA0XUA
	AL9hAAAAAAAAAgAAACIAAAADAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAFoAAgAAAADe
	AAAAJQEAAAAAACgcCgCZWQkAKAAAAAkAAAAAAAAAAAAAAAAAAAACAAAAAOC5AAAAKgAA
	AAAAAAAAAGAAAAALAAAAAAAAAAAAAAABAAMAAQAAALGrAABYVQAAAAAAAAMAAAAiAAAA
	BAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAABaAAIAAAAApAAAAPMAAAAAAAAAwAkAPQoJ
	ACgAAAAJAAAAAAAAAAAAAAAAAAAAAgAAAADAzQAAwFsAAAAAAAAAAABgAAAACwAAAAAA
	AAAAAAAAAQADAAEAAABYQwAAWKIAAAAAAAAIAAAAIgAAAAIAAAAEAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAWgACAAAAAOMAAAAkAQAAAAAAwvUJAOF6CQAoAAAACQAAAAAAAAAAAAAA
	AAAAAAIAAAAAwJQAAAC8/wAAAAAAAAAAMAAAABAAAAAAAAAAAAAAAAAAACABAAAACAAA
	AAEAAAB8CwAAPgUAAOcAAAAAAAAAUAAAAAEAAAAAAAAAAAAAAAAAAAABAAAAAP93FwEA
	AAAoAAAAAAAS+gAAAAMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AUBuAAAAEAABQG8AAAAAAAFAcAAAAAAAAUCEAAAAAgABQIUAAAAEAAFAcwAAAAgAAUB7
	AAAAAQABQIYAAAACAAHAfD03wAAAAcB9PKfAAAABwH47ZwAAAAHAgQAAAAAAAcCCAAAA
	AAABwIMAAAAAAAFAiAAAAAA=
	</data>
	<key>rr</key>
	<data>
	AAAAAgABQDUAAAADAAFANgAAAAAAAUA3AAAAHQACwDhDHgAAQ4+AAAACwDkAAAAAAAAA
	AAABADoXyeRAAAAO+gABQDsAAAEAAAFAMwAAAAAAAUA0AAAAAAABQGoAAAAAAAFAawAA
	AAABoBBtzW7IF/oOAAAAAAAAAAAAAAMAAwAFAAAAYAAAAAsAAAAAAAAAAAAAAAMAAwBj
	SgAAe2sAAAAAAAACAPAAIwAAAAEAAAAEAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAYAAAAAsAAAAAAAAAAAAAAAEAAwAKjQAAU14A
	AAAAAAAGAAAAIgAAAAEAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAWgACAAAAANwAAAA2
	AQAAAAAAhasJAML1CAAAAAAAYAAAAAsAAAAAAAAAAAAAAAEAAwC9BwAAongAAAAAAAAK
	AAAAIgAAAAMAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAGg8AQACAAAAANIAAAAwAQAAAAAA
	wnUKAKNwBwAAAAAAIAAAAAoAAAAAAAAAAAAAAAAAAAAAAAAAlwUAAAAAAABIAAAAAQAA
	AAAAAAAAAAAAAAAAAAD/dxcBAAAAKAAAAAAAYAQAAAADAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAUBuAAAABQABQG8AAAAAAAFAcAAAAAAAAcByP6AjIQ==
	</data>
	<key>sirlookup1</key>
	<data>
	AAAAAgABQDUAAAAAAAFANgAAAAAAAUA3AAAAHQACwDhFksEYRB1xwAACwDkAAAAAAAAA
	AAABADoAG6rZAAFhawABQDsAAAAAAAFAMwAAAAAAAUA0AAAAAAABQGoAAAAAAAFAawAA
	AAAAMBBtYhUaAGthAQDbggAAAQAAAAEAAAUAAAAAAQAAABQAAAAYAAAAAQAABQAAAAAB
	AAAAAAFAbgAAABgAAUBvAAAAAAABQHAAAAAAAAFAhAAAAAUAAUCFAAAAAAABQKQAAABG
	AAFApQAAAAE=
	</data>
	<key>sirlookup2</key>
	<data>
	AAAAAgABQDUAAAAAAAFANgAAAAAAAUA3AAAAHQACwDhFksEYRB1xwAACwDkAAAAAAAAA
	AAABADoAG6rZAAFhawABQDsAAAAAAAFAMwAAAAAAAUA0AAAAAAABQGoAAAAAAAFAawAA
	AAAAMBBtYhUaAGthAQDbggAAAQAAAAEAAAUAAAAAAgAAABQAAAAYAAAAAQAABQAAAAAB
	AAAAAAFAbgAAABgAAUBvAAAAAAABQHAAAAAAAAFAhAAAAAUAAUCFAAAAAAABQKQAAABG
	AAFApQAAAAE=
	</data>
	<key>sirsmartzoom</key>
	<data>
	AAAAAgABQDUAAAAAAAFANgAAAAAAAUA3AAAAHQACwDhFhLpwQ+aRgAACwDkAAAAAAAAA
	AAABADp9itz2AAFhwAABQDsAAAAAAAFAMwAAAAAAAUA0AAAAAAABQGoAAAAAAAFAawAA
	AAAALBBtr4OJfcBhAQCDlgAAAQAAAAAAAAAAAAAAAQAAABAAAAAWAAAAAAAAAAAAAAAA
	AUBuAAAAFgABQG8AAAAAAAFAcAAAAAAAAUCEAAAAAAABQIUAAAAA
	</data>
	<key>sirswileft</key>
	<data>
	AAAAAgABQDUAAAAAAAFANgAAAAAAAUA3AAAAHQACwDhEeILARBGTAAACwDkAAAAAAAAA
	AAABADq36bBNAAFhTgABQDsAAAAAAAFAMwAAAAAAAUA0AAAAAAABQGoAAAAAAAFAawAA
	AAAARBBtgaLot05hAQDbggAAAQAAAAAAAAIAAAAAAQAAACgAAAAQAAAAAAAAAgAAAADg
	9///8f///wAAAAAEAAAAAQAFAFnu//8AAUBuAAAAEAABQG8AAAAAAAFAcAAAAAAAAUCE
	AAAAAgABQIUAAAAAAAFAcwAAAAQAAUB7AAAAAQABQIYAAAACAAHAfL2NOAAAAcB9vQIA
	AAABwH65cAAAAAHAgQAAAAAAAcCCAAAAAAABwIMAAAAAAAFAiAAAAAAAAUCKAAAABQ==
	</data>
	<key>sirswiright</key>
	<data>
	AAAAAgABQDUAAAAAAAFANgAAAAAAAUA3AAAAHQACwDhEeILARBGTAAACwDkAAAAAAAAA
	AAABADrcICfYAAFhTgABQDsAAAAAAAFAMwAAAAAAAUA0AAAAAAABQGoAAAAAAAFAawAA
	AAAARBBtNB0f3E5hAQDbggAAAQAAAAAAAAIAAAAAAQAAACgAAAAQAAAAAAAAAgAAAAAO
	BgAAZP///wAAAAAIAAAAAQAFABoLAAAAAUBuAAAAEAABQG8AAAAAAAFAcAAAAAAAAUCE
	AAAAAgABQIUAAAAAAAFAcwAAAAgAAUB7AAAAAQABQIYAAAACAAHAfD0xoAAAAcB9PMHA
	AAABwH67HAAAAAHAgQAAAAAAAcCCAAAAAAABwIMAAAAAAAFAiAAAAAAAAUCKAAAABQ==
	</data>
	<key>sirzoin</key>
	<data>
	AAAAAgABQDUAAAAAAAFANgAAAAAAAUA3AAAAHQACwDhFad7ARCJRAAACwDkAAAAAAAAA
	AAABADpgv758AAFhsgABQDsAAAAAAAFAMwAAAAAAAUA0AAAAAAABQGoAAAAAAAFAawAA
	AAAAOBBtL3e+YLJhAQDbggAAAQAAAAAAAAIAAAAAAQAAABwAAAAHAAAAAAAAAgAAAAAA
	AAAAAAAAAFL4//8AAUBuAAAACAABQG8AAAAAAAFAcAAAAAAAAUCEAAAAAgABQIUAAAAA
	AAHAcbz1wAAAAcCLAAAAAAABwIwAAAAA
	</data>
	<key>sirzout</key>
	<data>
	AAAAAgABQDUAAAAAAAFANgAAAAAAAUA3AAAAHQACwDhFaf1wRCIBAAACwDkAAAAAAAAA
	AAABADqBR1L7AAFhsAABQDsAAAAAAAFAMwAAAAAAAUA0AAAAAAABQGoAAAAAAAFAawAA
	AAAAOBBt505GgbBhAQDbggAAAQAAAAAAAAIAAAAAAQAAABwAAAAHAAAAAAAAAgAAAAAA
	AAAAAAAAAC8dAAAAAUBuAAAACAABQG8AAAAAAAFAcAAAAAAAAUCEAAAAAgABQIUAAAAA
	AAHAcT3peAAAAcCLAAAAAAABwIwAAAAA
	</data>
	<key>sm</key>
	<data>
	AAAAAgABQDUAAAADAAFANgAAAAAAAUA3AAAAHQACwDhE9zEAQ5hkAAACwDkAAAAAAAAA
	AAABADp2J0D4AAAIngABQDsAAAEAAAFAMwAAAAAAAUA0AAAAAAABQGoAAAAAAAFAawAA
	AAAAmBBtj3kmdp4IAAADAAEAAgAAAGgAAAALAAAAAAAAAAAAAAADAAEAAAAAAAAAAAAA
	AAAA1y0AAIYlAAAAAAAAAQAAcCMAAAABAAAAAgAAAAIAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAIAAAABYAAAAAAAAAAAAAAAAAAAABAAAAAAAA
	AAAAAAAAAUBuAAAAFgABQG8AAAAAAAFAcAAAAAAAAUCEAAAAAAABQIUAAAAC
	</data>
	<key>sz</key>
	<data>
	AAAAAgABQDUAAAADAAFANgAAAAAAAUA3AAAAHQACwDjEILDARCaFAAACwDkAAAAAAAAA
	AAABADpynWxwAABhZgABQDsAAAEAAAFAMwAAAAAAAUA0AAAAAAABQGoAAAAAAAFAawAA
	AAAAkBBtm8mccmZhAAAAAAAAAAAAAAMAAQACAAAAYAAAAAsAAAAAAAAAAAAAAAMAAQAA
	AAAAAjoAALU8AAAAAAAAAQAAcCMAAAABAAAAAgAAAAIAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAGAAAABYAAAAAAAAAAAAAAAAAAAABAAAAAAFA
	bgAAABYAAUBvAAAAAAABQHAAAAAAAAFAhAAAAAAAAUCFAAAAAg==
	</data>
	<key>szm</key>
	<data>
	AAAAAgABQDUAAAAAAAFANgAAAAAAAUA3AAAAHQACwDhD7BIAQ87BgAACwDkAAAAAAAAA
	AAABADpkWl3NAAAjEAABQDsAAAEAAAFAMwAAAAAAAUA0AAAAAAABQGoAAAAAAAFAawAA
	AAABgBBtlPpYZBAjAACpBVlkECMAAKATAAABAAAAAwABAAAAAAAFAAAAWAAAAAsAAAAD
	AAEAAAAAAPA/AACfgwAAAAAAAAIAAHADAAAAAQAAACIAAAAjAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFgAAAALAAAAAQABAAEAAADwPwAAn4MA
	AAAAAAABAAAAAgAAAAIAAAAiAAAAAAAAAAAAAAAAAAAAAAAAAAAAWgACAAAAAEcAAAA8
	AAAAAAAAwrUKABSuCQBYAAAACwAAAAEAAAABAAAAsm4AAFFHAAAAAAAABwAAAAIAAAAA
	AAAAAQAAAAAAAAAAAAAAAAAAAAAAAABwbk4AAgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	EAAAABYAAAAAAAAAAQAAAEQAAAABAAAAAAAAAAEAAAAA/3cXAQAAACgAAAAAABL6AAAA
	AwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFAbgAAABYAAUBvAAAAAAAB
	QHAAAAAAAAFAhAAAAAAAAUCFAAAAIg==
	</data>
	<key>u</key>
	<data>
	AAAAAgABQDUAAAADAAFANgAAAAAAAUA3AAAAHQACwDhESYAAQ4QAAAACwDkAAAAAAAAA
	AAABADo8J2gAAAAOvAABQDsAAAEAAAFAMwAAAAAAAUA0AAAAAAABQGoAAAAAAAFAawAA
	AAAB+BBtSU8lPLwOAAAAAAAAAAAAAAMAAwAGAAAAYAAAAAsAAAAAAAAAAAAAAAMAAwD/
	cQAAXb8AAAAAAAADAAQAIwAAAAEAAAAEAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAYAAAAAsAAAAAAAAAAAAAAAEAAwDhQgAAU9MA
	AAAAAAAFAAAAIgAAAAQAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAWgACAAAAAHoAAADb
	AAAAAAAA9egIAAqXBwAAAAAAYAAAAAsAAAAAAAAAAAAAAAEAAwAYogAA5a0AAAAAAAAI
	AAAAIgAAAAIAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAWgACAAAAAFgAAADPAAAAAAAA
	hasIAOE6BwAAAAAAYAAAAAsAAAAAAAAAAAAAAAEAAwAEcQAA3rwAAAAAAAAJAAAAIgAA
	AAMAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAJDWIAACAAAAAEwAAACnAAAAAAAAKJwJAFyP
	BwAAAAAAGAAAABAAAAAAAAAAAAAAAAAAAAABAAAASAAAAAEAAAAAAAAAAAAAAAAAAAAA
	/3cXAQAAACgAAAAAAGAEAAAAAwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAFAbgAAABAAAUBvAAAAAAABQHAAAAAAAAFAcwAAAAE=
	</data>
	<key>uli</key>
	<data>
	AAAAAgABQDUAAAADAAFANgAAAAAAAUA3AAAAHQACwDhERfpARD7EgAACwDkAAAAAAAAA
	AAABADoyK1xQAAADZgABQDsAAAEAAAFAMwAAAAAAAUA0AAAAAAABQGoAAAAAAAFAawAA
	AAACkBBtifkpMmYDAAAAAAAAAAAAAAMAAwAJAAAAYAAAAAsAAAAAAAAAAAAAAAMAAwAA
	AAAAFIsAAH+dAAAAAAAADgBAACMAAAABAAAABAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAYAAAAAsAAAAAAAAAAAAAAAEAAwABAAAAzr0A
	AD6LAAAAAAAAAQAAACIAAAAEAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAFoAAgAAAACf
	AAAABgEAAAAAAB4FCQCPQggAKAAAAAkAAAAAAAAAAAAAAAAAAAACAAAAAAA/AAAAOv8A
	AAAAAAAAAGAAAAALAAAAAAAAAAAAAAABAAMAAQAAAMhXAADxugAAAAAAAAQAAAAiAAAA
	AgAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAqLYZAAIAAAAAsgAAADIBAAAAAACPggkAZiYI
	ACgAAAAJAAAAAAAAAAAAAAAAAAAAAgAAAADA6f8AQEv/AAAAAAAAAABgAAAACwAAAAAA
	AAAAAAAAAQADAAEAAACliwAATZIAAAAAAAAHAAAAIgAAAAMAAAAEAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAWgACAAAAAKoAAAAVAQAAAAAAClcJAApXCAAoAAAACQAAAAAAAAAAAAAA
	AAAAAAIAAAAAoCcAAGAx/wAAAAAAAAAAMAAAABAAAAAAAAAAAAAAAAAAACABAAAAAQAA
	AAIAAACsDAAAGgEAAGH4//8AAAAAUAAAAAEAAAAAAAAAAAAAAAAAAAABAAAAAP93FwEA
	AAAoAAAAAAAS+gAAAAMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AUBuAAAAEAABQG8AAAAAAAFAcAAAAAAAAUCEAAAAAgABQIUAAAAEAAFAcwAAAAEAAUB7
	AAAAAgABQIYAAAACAAHAfD1KwAAAAcB9O40AAAABwH688+AAAAHAgQAAAAAAAcCCAAAA
	AAABwIMAAAAAAAFAiAAAAAA=
	</data>
	<key>zoomend</key>
	<data>
	AAAAAgABQDUAAAADAAFANgAAAAAAAUA3AAAAHQACwDhEwVPAQ5biAAACwDlEpzPAQ4vi
	AAABADqtnowYAAAOFQABQDsAAAEAAAFAMwAABbEAAUA0AANqvwABQGoAAAVNAAFAawAA
	BaAB2BBtqrKdrRUOAAAAAAAAAAAAAAMAAwAGAAAAYAAAAAsAAAAAAAAAAAAAAAMAAwAA
	AAAALH8AAEaeAAAAAAAAAgAAICMAAAABAAAALAAAAAcAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAYAAAAAsAAAAAAAAAAAAAAAEAAwABAAAALH8A
	AEaeAAAAAAAAAQAAACIAAAABAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAkH4AAgAAAAAA
	AQAAEQEAAAAAAJnZCQB6lAYAKAAAAAkAAAAAAAAAAAAAAAAAAAACAAAAAICGAAAAu/8A
	AAAAAAAAAGAAAAALAAAAAAAAAAAAAAABAAAAAQAAABG0AACCXAAAAAAAAAIAAAAiAAAA
	AAAAAAMAAAAAAAAAAAAAAAAAAAAAAAAA/797AAIAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	ACgAAAAKAAAAAAAAAAAAAAAAAABAAQAAAAAAAAAAAAAAAAAAAAAAAABQAAAAAQAAAAAA
	AAAAAAAAAAAAAAEAAAAA/3cXAQAAACgAAADo1vVeAAAABAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAABQG4AAAA+AAFAbwAAAAAAAUBwAAAAAAABQIQAAAAA
	AAFAhQAAAAAAAUB1AAAACA==
	</data>
	<key>zzzbegindata</key>
	<data>
	AAAAAgABQDUAAAAAAAFANgAAAAAAAUA3AAAAHQACwDhEcUPARFE8AAACwDkAAAAAAAAA
	AAABADrxzEGrAAAZeAABQDsAAAEAAAFAMwAAAAAAAUA0AAAAAAABQJIAAAAAAAFAagAA
	AAAAAUBrAAAAAAHIEG0gFMrxeBkAALwFAAABAAAAAwADAAAAAAAHAAAAXAAAAAsAAAAD
	AAMAAAAAAElfAAA3iQAAAAAAAAIADwADAAAAAQAAAAQBAAAEAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABcAAAACwAAAAEAAwABAAAAZ0wA
	AKiYAAAAAAAAAgAAAAIAAAACAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAcAgAAgAAAAAA
	AQAAkwEAAAAAAChcBwAoXAYAAAAAABwAAAAJAAAAAAAAAAIAAAAAYAUAAKBcAAAAAABc
	AAAACwAAAAEAAwABAAAAKnIAAMV5AAAAAAAAAwAAAAIAAAADAAAABAAAAAAAAAAAAAAA
	AAAAAAAAAAAA0AIAAgAAAAAAAQAAqgEAAAAAAOtRBwDXIwYAAAAAABwAAAAJAAAAAAAA
	AAIAAAAAoAMAACBiAAAAAAAcAAAABgAAAAAAAAEBAAAAAAAAAAAA+/8AAAAARAAAAAEA
	AAABAAAAAQAAAAD/dxcBAAAAKAAAAOjW9V4AAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAUBuAAAAPQABQG8AAAAAAAFAcAAAAAAAAUCEAAAAAAABQIUAAAAA
	AAFAdQAAAAY=
	</data>
	<key>zzzenddata</key>
	<data>
	AAAAAgABQDUAAAADAAFANgAAAAAAAUA3AAAAHQACwDhEEITAQ3AnAAACwDm/gAAAv4AA
	AAABADplzSr3AAAZeQABQDsgAAEAAAFAMwAAAAAAAUA0AAAAAAABQJIAAAAAAAFAagAA
	AAAAAUBrAAAEsAABQG4AAAA+AAFAbwAAAAAAAUBwAAAAAAABQIQAAAAAAAFAhQAAAAAA
	AUB1AAAAAA==
	</data>
	<key>zzzlookup1</key>
	<data>
	AAAAAgABQDUAAAAAAAFANgAAAAAAAUA3AAAAHQACwDhEe/DARDTqwAACwDkAAAAAAAAA
	AAABADogsrtCAAAZcAABQDsAAAEAAAFAMwAAAAAAAUA0AAAAAAABQJIAAAAAAAFAagAA
	AAAAAUBrAAAAAAHkEG3etbEgcBkAALwFAAABAAAAAwABAAAAAAAGAAAAXAAAAAsAAAAD
	AAEAAAAAAOZIAABkjAAAAAAAAAMAADADAAAAAQAAACIAAAADAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABcAAAACwAAAAEAAAABAAAAi3UA
	ALtrAAAAAAAAAwAAAAIAAAAAAAAAAwAAAAAAAAAAAAAAAAAAAAAAAAAAAFoAAgAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAFwAAAALAAAAAQAAAAEAAABPowAAqWkAAAAAAAAG
	AAAAAgAAAAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAWgACAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAXAAAAAsAAAABAAEAAQAAAOZIAABkjAAAAAAAAAcAAAACAAAAAgAA
	AAIAAAAAAAAAAAAAAAAAAAAAAAAAAABaAAIAAAAAIAAAAEsAAAAAAABcTwYAM3MFAAAA
	AAAUAAAAGAAAAAEAAAUBAAAAAQAAAEQAAAABAAAAAQAAAAEAAAAA/3cXAQAAACgAAADo
	1vVeAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFAbgAAABgAAUBv
	AAAAAAABQHAAAAAAAAFAhAAAAAAAAUCFAAAAIg==
	</data>
	<key>zzzlookup2</key>
	<data>
	AAAAAgABQDUAAAAAAAFANgAAAAAAAUA3AAAAHQACwDhEe/DARDTqwAACwDkAAAAAAAAA
	AAABADogsrtCAAAZcAABQDsAAAEAAAFAMwAAAAAAAUA0AAAAAAABQJIAAAAAAAFAagAA
	AAAAAUBrAAAAAAHkEG3etbEgcBkAALwFAAABAAAAAwABAAAAAAAMAAAAXAAAAAsAAAAD
	AAEAAAAAAOZIAABkjAAAAAAAAAMAADADAAAAAQAAACIAAAADAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABcAAAACwAAAAEAAAABAAAAi3UA
	ALtrAAAAAAAAAwAAAAIAAAAAAAAAAwAAAAAAAAAAAAAAAAAAAAAAAAAAAFoAAgAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAFwAAAALAAAAAQAAAAEAAABPowAAqWkAAAAAAAAG
	AAAAAgAAAAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAWgACAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAXAAAAAsAAAABAAEAAQAAAOZIAABkjAAAAAAAAAcAAAACAAAAAgAA
	AAIAAAAAAAAAAAAAAAAAAAAAAAAAAABaAAIAAAAAIAAAAEsAAAAAAABcTwYAM3MFAAAA
	AAAUAAAAGAAAAAEAAAUBAAAAAQAAAEQAAAABAAAAAQAAAAEAAAAA/3cXAQAAACgAAADo
	1vVeAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFAbgAAABgAAUBv
	AAAAAAABQHAAAAAAAAFAhAAAAAAAAUCFAAAAIg==
	</data>
	<key>zzzsmartzoom</key>
	<data>
	AAAAAgABQDUAAAAAAAFANgAAAAAAAUA3AAAAHQACwDhEcUPARFE8AAACwDkAAAAAAAAA
	AAABADopc9xDAAAZeQABQDsAAAEAAAFAMwAAAAAAAUA0AAAAAAABQJIAAAAAAAFAagAA
	AAAAAUBrAAAAAAGsEG3TwHEpeRkAALwFAAABAAAAAwADAAAAAAAGAAAAXAAAAAsAAAAD
	AAMAAAAAAGpuAADitAAAAAAAAAIAACADAAAAAQAAAAgAAAACAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABcAAAACwAAAAEAAQABAAAAh0wA
	AGbEAAAAAAAAAgAAAAIAAAACAAAAAgAAAAAAAAAAAAAAAAAAAAAAAAAAAFoAAgAAAABA
	AAAAlgAAAAAAAJlZBgBHYQUAAAAAAFwAAAALAAAAAQADAAEAAABqbgAA4rQAAAAAAAAD
	AAAAAgAAAAMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACAFgACAAAAAIAAAAC7AAAAAAAA
	j0IJAJlZBQAAAAAAHAAAAAkAAAAAAAAAAgAAAADg7f8A4AoAAAAAABwAAAAGAAAAAAAA
	BAEAAAAAAAAAAAAAAAAAAABEAAAAAQAAAAEAAAABAAAAAP93FwEAAAAoAAAA6Nb1XgAA
	AAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABQG4AAAAGAAFAbwAAAAAA
	AUBwAAAAAAABQIQAAAAEAAFAhQAAAAgAAcB2AAAAAAABwHcAAAAAAAHAeAAAAAAAAUCH
	AAAAAA==
	</data>
	<key>zzzswipedown</key>
	<data>
	AAAAAgABQDUAAAAAAAFANgAAAAAAAUA3AAAAHQACwDhEe/DARDTqwAACwDkAAAAAAAAA
	AAABADrGLAurAAAZbwABQDsAAAEAAAFAMwAAAAAAAUA0AAAAAAABQJIAAAAAAAFAagAA
	AAAAAUBrAAAAAAJMEG29QCvGbxkAALwFAAABAAAAAwADAAAAAAAJAAAAXAAAAAsAAAAD
	AAMAAAAAABVuAAAaUwAAAAAAAA4AQAADAAAAAQAAAAQAAAAEAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABcAAAACwAAAAEAAwABAAAAZkEA
	AIFtAAAAAAAAAgAAAAIAAAACAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAFoAAgAAAAAA
	AQAAqgEAAAAAAKPwBgDhegYAAAAAABwAAAAJAAAAAAAAAAIAAAAAoAMAAABtAAAAAABc
	AAAACwAAAAEAAwABAAAAam4AAORJAAAAAAAABAAAAAIAAAADAAAABAAAAAAAAAAAAAAA
	AAAAAAAAAAAAcAgAAgAAAADgAAAAYAEAAAAAAGZmBwAKVwYAAAAAABwAAAAJAAAAAAAA
	AAIAAAAAQBsAAOCCAAAAAABcAAAACwAAAAEAAwABAAAAbpoAAOlBAAAAAAAACwAAAAIA
	AAAEAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAFoAAgAAAADgAAAAYAEAAAAAAChcBwAo
	XAYAAAAAABwAAAAJAAAAAAAAAAIAAAAAoAwAAOCWAAAAAAAoAAAAEAAAAAAAAAIBAAAA
	nwAAAEEGAAAAAAAAAgAAAAIABQD58f//RAAAAAEAAAABAAAAAQAAAAD/dxcBAAAAKAAA
	AOjW9V4AAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAUBuAAAAEAAB
	QG8AAAAAAAFAcAAAAAAAAUCEAAAAAgABQIUAAAAEAAFAcwAAAAIAAUB7AAAAAgABQIYA
	AAACAAHAfL1gcAAAAcB9Ox8AAAABwH48yCAAAAHAgQAAAAAAAcCCAAAAAAABwIMAAAAA
	AAFAiAAAAAAAAUCKAAAABQ==
	</data>
	<key>zzzswipeleft</key>
	<data>
	AAAAAgABQDUAAAAAAAFANgAAAAAAAUA3AAAAHQACwDhEe/DARDTqwAACwDkAAAAAAAAA
	AAABADpg6UF6AAAZbwABQDsAAAEAAAFAMwAAAAAAAUA0AAAAAAABQJIAAAAAAAFAagAA
	AAAAAUBrAAAAAAJMEG3obehgbxkAALwFAAABAAAAAwADAAAAAAAJAAAAXAAAAAsAAAAD
	AAMAAAAAAE+hAABtbwAAAAAAABwAQAADAAAAAQAAAAQAAAAEAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABcAAAACwAAAAEAAwABAAAAi3gA
	AMN9AAAAAAAAAQAAAAIAAAADAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAC0AAgAAAADA
	AAAAwwEAAAAAAOH6BgAoHAUAAAAAABwAAAAJAAAAAAAAAAIAAAAA4E3/AMABAAAAAABc
	AAAACwAAAAEAAwABAAAAc8oAAAFnAAAAAAAACQAAAAIAAAAFAAAABAAAAAAAAAAAAAAA
	AAAAAAAAAAAAcAgAAgAAAACgAAAAYQEAAAAAAML1BgBHYQUAAAAAABwAAAAJAAAAAAAA
	AAIAAAAAYCv/AMDk/wAAAABcAAAACwAAAAEAAwABAAAA76AAAIRpAAAAAAAACgAAAAIA
	AAAEAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAFoAAgAAAACgAAAAXQEAAAAAAJnZBgBw
	fQUAAAAAABwAAAAJAAAAAAAAAAIAAAAAoFr/AGD8/wAAAAAoAAAAEAAAAAAAAAIBAAAA
	Z/f//6D///8AAAAABAAAAAEABQAk7///RAAAAAEAAAABAAAAAQAAAAD/dxcBAAAAKAAA
	AOjW9V4AAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAUBuAAAAEAAB
	QG8AAAAAAAFAcAAAAAAAAUCEAAAAAgABQIUAAAAEAAFAcwAAAAQAAUB7AAAAAQABQIYA
	AAACAAHAfL2G4AAAAcB9vQmQAAABwH66wAAAAAHAgQAAAAAAAcCCAAAAAAABwIMAAAAA
	AAFAiAAAAAAAAUCKAAAABQ==
	</data>
	<key>zzzswiperight</key>
	<data>
	AAAAAgABQDUAAAAAAAFANgAAAAAAAUA3AAAAHQACwDhEe/DARDTqwAACwDkAAAAAAAAA
	AAABADocgIEHAAAZbwABQDsAAAEAAAFAMwAAAAAAAUA0AAAAAAABQJIAAAAAAAFAagAA
	AAAAAUBrAAAAAAJMEG0XeH8cbxkAALwFAAABAAAAAwADAAAAAAAJAAAAXAAAAAsAAAAD
	AAMAAAAAAGZFAAD+fgAAAAAAABwAQAADAAAAAQAAAAQAAAAEAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABcAAAACwAAAAEAAwABAAAA4hwA
	ANKhAAAAAAAAAQAAAAIAAAAFAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAFoAAgAAAAAA
	AQAAgAEAAAAAAJkZBwAK1wYAAAAAABwAAAAJAAAAAAAAAAIAAAAAQHQAAADY/wAAAABc
	AAAACwAAAAEAAwABAAAAinAAAIRpAAAAAAAAAwAAAAIAAAADAAAABAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAFoAAgAAAADAAAAAPAEAAAAAAJkZBwBHYQYAAAAAABwAAAAJAAAAAAAA
	AAIAAAAAAG0AAOATAAAAAABcAAAACwAAAAEAAwABAAAAxkIAAKRxAAAAAAAACgAAAAIA
	AAAEAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAFoAAgAAAADAAAAAWQEAAAAAAMK1BgAK
	VwYAAAAAABwAAAAJAAAAAAAAAAIAAAAAgHIAAMD4/wAAAAAoAAAAEAAAAAAAAAIBAAAA
	HwUAAJX///8AAAAACAAAAAEABQCrCQAARAAAAAEAAAABAAAAAQAAAAD/dxcBAAAAKAAA
	AOjW9V4AAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAUBuAAAAEAAB
	QG8AAAAAAAFAcAAAAAAAAUCEAAAAAgABQIUAAAAEAAFAcwAAAAgAAUB7AAAAAQABQIYA
	AAACAAHAfD0asAAAAcB9PKPgAAABwH661gAAAAHAgQAAAAAAAcCCAAAAAAABwIMAAAAA
	AAFAiAAAAAAAAUCKAAAABQ==
	</data>
	<key>zzzswipeup</key>
	<data>
	AAAAAgABQDUAAAAAAAFANgAAAAAAAUA3AAAAHQACwDhEe/DARDTqwAACwDkAAAAAAAAA
	AAABADqakYRSAAAZbwABQDsAAAEAAAFAMwAAAAAAAUA0AAAAAAABQJIAAAAAAAFAagAA
	AAAAAUBrAAAAAAJMEG37uZCabxkAALwFAAABAAAAAwADAAAAAAAJAAAAXAAAAAsAAAAD
	AAMAAAAAAN9mAAA5lAAAAAAAABwAQAADAAAAAQAAAAQAAAAEAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABcAAAACwAAAAEAAwABAAAAxkEA
	AFWkAAAAAAAAAgAAAAIAAAAFAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAA4BAAAgAAAADg
	AAAAyQEAAAAAAOH6BgC4ngUAAAAAABwAAAAJAAAAAAAAAAIAAAAAYN//AEBe/wAAAABc
	AAAACwAAAAEAAwABAAAA6WUAADyQAAAAAAAABQAAAAIAAAAEAAAABAAAAAAAAAAAAAAA
	AAAAAAAAAAAAQAsAAgAAAADAAAAAlgEAAAAAAML1BgAehQUAAAAAABwAAAAJAAAAAAAA
	AAIAAAAAYAUAAABX/wAAAABcAAAACwAAAAEAAwABAAAA7YwAABuIAAAAAAAACAAAAAIA
	AAADAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAEA4AAgAAAADgAAAAgwEAAAAAADOzBwAU
	rgUAAAAAABwAAAAJAAAAAAAAAAIAAAAAoAMAAIBR/wAAAAAoAAAAEAAAAAAAAAIBAAAA
	h/////r3//8AAAAAAQAAAAIABQCLEAAARAAAAAEAAAABAAAAAQAAAAD/dxcBAAAAKAAA
	AOjW9V4AAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAUBuAAAAEAAB
	QG8AAAAAAAFAcAAAAAAAAUCEAAAAAgABQIUAAAAEAAFAcwAAAAEAAUB7AAAAAgABQIYA
	AAACAAHAfD2EWAAAAcB9uvIAAAABwH69AGAAAAHAgQAAAAAAAcCCAAAAAAABwIMAAAAA
	AAFAiAAAAAAAAUCKAAAABQ==
	</data>
	<key>zzzzoomin</key>
	<data>
	AAAAAgABQDUAAAAAAAFANgAAAAAAAUA3AAAAHQACwDhEe/DARDTqwAACwDkAAAAAAAAA
	AAABADq3r8FIAAAZcQABQDsAAAEAAAFAMwAAAAAAAUA0AAAAAAABQJIAAAAAAAFAagAA
	AAAAAUBrAAAAAAHIEG2qna63cRkAALwFAAABAAAAAwADAAAAAAAHAAAAXAAAAAsAAAAD
	AAMAAAAAABpuAADIhAAAAAAAAAIA8AADAAAAAQAAAAQAAAAEAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABcAAAACwAAAAEAAwABAAAAS3kA
	AFBwAAAAAAAACAAAAAIAAAACAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAUHMAAgAAAADA
	AAAAGwEAAAAAADOzBwBmZgYAAAAAABwAAAAJAAAAAAAAAAIAAAAAgPH/AKAMAAAAAABc
	AAAACwAAAAEAAwABAAAA6WIAAD+ZAAAAAAAACQAAAAIAAAABAAAABAAAAAAAAAAAAAAA
	AAAAAAAAAAD/H3YAAgAAAACAAAAAsAAAAAAAACjcBwCZmQYAAAAAABwAAAAJAAAAAAAA
	AAIAAAAAQBAAAAD3/wAAAAAcAAAABwAAAAAAAAIBAAAAAAAAAAAAAADu/P//RAAAAAEA
	AAABAAAAAQAAAAD/dxcBAAAAKAAAAOjW9V4AAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAUBuAAAACAABQG8AAAAAAAFAcAAAAAAAAUCEAAAAAgABQIUAAAAE
	AAHAcbxEgAAAAcCLAAAAAAABwIwAAAAA
	</data>
	<key>zzzzoomout</key>
	<data>
	AAAAAgABQDUAAAAAAAFANgAAAAAAAUA3AAAAHQACwDhEgaYgRC78QAACwDkAAAAAAAAA
	AAABADp0HYInAAAZcgABQDsAAAEAAAFAMwAAAAAAAUA0AAAAAAABQJIAAAAAAAFAagAA
	AAAAAUBrAAAAAAHIEG2h3xt0chkAALwFAAABAAAAAwADAAAAAAAHAAAAXAAAAAsAAAAD
	AAMAAAAAAGpzAACkcQAAAAAAAAIA8AADAAAAAQAAAAQAAAAEAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABcAAAACwAAAAEAAwABAAAAT6UA
	AKI5AAAAAAAABAAAAAIAAAADAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAFoAAgAAAADA
	AAAAAgEAAAAAACjcBwBwvQYAAAAAABwAAAAJAAAAAAAAAAIAAAAAQC8AAODt/wAAAABc
	AAAACwAAAAEAAwABAAAAhkEAAKepAAAAAAAACwAAAAIAAAABAAAABAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAIcAAgAAAADgAAAAFQEAAAAAAGbmCABHYQYAAAAAABwAAAAJAAAAAAAA
	AAIAAAAAoNL/AABFAAAAAAAcAAAABwAAAAAAAAIBAAAAAAAAAAAAAADMDAAARAAAAAEA
	AAABAAAAAQAAAAD/dxcBAAAAKAAAAOjW9V4AAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAUBuAAAACAABQG8AAAAAAAFAcAAAAAAAAUCEAAAAAgABQIUAAAAE
	AAHAcT1MwAAAAcCLAAAAAAABwIwAAAAA
	</data>
</dict>
</plist>
